.autocompleteBookGrid,
.autocompleteUserGrid {
  display: grid;
  align-items: center;
}

.autocompleteBookGrid {
  grid-template-rows: 1fr;
}

.autocompleteUserGrid {
  grid-template-rows: 75px;
}

.autocompleteDetails {
  display: inline-flex;
  align-items: center;
  color: black;
}

.autocompleteDetails img {
  transform: scale(0.5);
}

.autocompleteDetails h2 {
  font-size: 1rem;
  font-family: var(--main);
  text-decoration: underline;
  color: black;
}

.autocompleteDetails > * {
  color: black;
}

.endOfAutocomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: var(--main);
}
