.booksStatsCon {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

.booksStatsCon h2 {
  font-family: var(--main);
  font-size: 2.5rem;
  text-decoration: underline;
  margin: 2rem 0 2rem 3rem;
}

@media screen and (max-width: 600px) {
  .booksStatsCon {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 450px) {
  .booksStatsCon h2 {
    text-align: center;
    margin: 2rem 0;
  }
}
