
.statsTitle {
    font-family: var(--main);
    font-size: 5rem;
    margin-left: 3rem;
}

.leagueCon {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.booksStatsCon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.booksStatsCon h2 {
    font-family: var(--main);
    font-size: 2.5rem;
    text-decoration: underline;
    margin: 2rem 0 2rem 3rem;
}

.booksReadCon {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    overflow: hidden;
    gap: 2rem;
}

.booksReadCon h3 {
    text-align: center;
    font-family: var(--main);
    font-size: 1.5rem;
}

@media screen and (max-width: 825px) {
    .statsTitle {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 400px) {
    .booksStatsCon h2 {
        text-align: center;
        margin: 2rem 0;
    }
    .booksReadCon {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .statsTitle {
        font-size: 2.5rem;
    }
}