.badgeCon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.badgeTemplate {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0.15rem;
}

@media screen and (max-width: 800px) { 
  .badgeTemplate {
    width: 85px;
    height: 85px;
  }
}

@media screen and (max-width: 450px) {
  .badgeCon {
    flex-direction: row;
  }
  .badgeTemplate {
    margin-top: 1rem;
    width: 75px;
    height: 75px;
  } 
}