.bookImageCon {
  margin: 1.25rem;
  border-color: var(--default-border-color);
  border-width: 5px;
  border-style: solid;
}

.titleCover {
  font-family: var(--main);
  font-size: 1.5rem;
}

.rightcover {
  font-family: var(--main);
  font-size: 1.25rem;
}

.smallBookTitle {
  font-family: var(--main);
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
  margin: 0px;
  inline-size: 275px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .titleCover {
    font-size: 1rem;
  }
  .rightcover {
    font-size: 1rem;
  }
  .smallBookTitle {
    font-size: 1.75rem;
    text-decoration: overline;
  }
}

@media screen and (max-width: 450px) {
  .smallBookTitle {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .smallBookTitle {
    font-size: 1.5rem;
    width: 250px;
  }
}
