.boxLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  overflow: hidden;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box h2:not(.userScore) {
  font-family: var(--main);
  font-size: 1.5rem;
}

.boxItem {
  border-width: 5px;
  border-color: black;
  width: 400px;
  height: 250px;
  padding: 0px;
  margin: 0px;
}

.boxItem img {
  padding: 0px;
  margin: 0px;
}

.userScore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: clamp(4rem, 2vw, 8rem);
  font-family: var(--main);
}

@media screen and (max-width: 800px) {
  .boxLayout {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .boxItem {
      margin: 1rem 0px;
  }

  .libaryButtons {
      width: 300px;
  }
}