.headerConToken, .headerConNoToken {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-bottom: 1rem;
}

.headerConNoToken {
    padding-bottom: 0;
}

.headerLinks {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-family: var(--main);
    font-size: 1.75rem; 
    color: white;
}

.headerLinksMobCon {
    display: flex;
    justify-content: center;
    color: white;
}

@media screen and (max-width: 800px) {
    .greeting {
        font-size: 1.25rem;
        text-align: end;
        padding-bottom: 0px;
    }
    .headerLinksMobCon {
        display: flex;
        justify-content: center;
        color: white;
    }
}

@media screen and (max-width: 400px) {
    .greetingCon {
        margin-right: 0px;
    }
}