.bookLibraryTitle {
    font-family: var(--main);
    font-size: 5rem;
    margin-left: 3rem;
}

.bookCon {
    margin-top: 1rem;
}

.bookCon img {
    width: 400px;
    height: 250px;
}

.bookCoverCon {
    width: 400px;
    height: 250px;
}

.smallBookTitle {
    font-family: var(--main);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
    margin: 0px;
}

.addBookCon {
    border-width: 5px;
    border-top-color: black;
    border-top-style:dashed;
    padding: 2rem 0px;
    display: flex;
    justify-content: center;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-btn-default {
    background-color: black;
    color: white;
}

:where(.css-1rqnfsa).ant-btn-default {
    background-color: black;
    color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-btn-default:hover {
    background-color: var(--tertiaryColor);
    color:white;
}

:where(.css-1rqnfsa).ant-btn-default:hover {
    background-color: var(--tertiaryColor);
    color: white;
}

:where(.css-1rqnfsa).ant-btn >span:hover {
    color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-btn >span:hover {
    color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: white;
    border-color: black;
}

:where(.css-1rqnfsa).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: white;
    border-color: black;
}