@media screen and (max-width: 800px) {
    .bookLibraryTitle {
        font-size: 3.5rem;
    }
    .searchBackCon {
        display: flex;
    }
    .bookCon {
        justify-content: center;
        margin-top: 1rem;
    }
    .bookCon img {
        width: 300px;
        height: 200px;
    }
    .bookCoverCon {
        width: 300px;
        height: 200px;
    }
    .smallBookTitle {
        font-size: 1.75rem;
        text-decoration: overline;
    }
}