:where(.css-dev-only-do-not-override-1rqnfsa).ant-btn-default {
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  background-color: var(--tertiaryColor);
  border-color: var(--tertiaryColor);
  color: var(--main-bg-color);
}

:where(.css-1rqnfsa).ant-btn-default {
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
}

:where(.css-1rqnfsa).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background-color: var(--tertiaryColor);
  border-color: var(--tertiaryColor);
  color: var(--main-bg-color);
}
