:where(.css-dev-only-do-not-override-ni1kz0).ant-btn-default {
    background-color: black;
    color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--tertiaryColor);
    border-color: var(--tertiaryColor);
    color: white;
}

:where(.css-1rqnfsa).ant-btn-default {
    background-color: black;
    color: white;
}

:where(.css-1rqnfsa).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--tertiaryColor);
    border-color: var(--tertiaryColor);
    color: white;
}