.commentCon {
    border-width: 2px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
    margin-left: 2rem;
    color: black;
}

.commentCon li {
    background-color: white;
}