@media screen and (max-width: 800px) {
    .greeting {
        font-size: 1.25rem;
        text-align: end;
    }
    .headerLinksMobCon {
        color: white;
        display: flex;
        justify-content: center;
    }
    .headerLinksMobile {
        background-color: var(--tertiaryColor);
        z-index: 10;
        position: absolute;
        top: 10%;
        right: 5%;
        display: flex;
        padding: 20px;
        font-family: var(--main);
        border-bottom-right-radius: 50%;
    }
}
@media screen and (max-width: 400px) {
    .greetingCon {
        margin-right: 0px;
    }
}

@media screen and (max-width: 330px) {
    .headerLinksMobile a {
        font-size: 1rem;
    }
}
