.logo {
    font-family: var(--main);
    color: white;
    font-size: 2rem;
}

.headerCon {
    background-color: black;
}

.box {
    display: flex;
}

.boxItem {
border-width: 5px;
margin: 5px;
border-color: black;
}

.headerLinks {
    display: flex;
    color: white;
    justify-content: space-evenly;
    width: 50%;
    font-family: var(--main);
    font-size: 1.75rem;
}

.bookMenu:hover .bookHover {
    display: block;
    visibility: visible;
}

.bookHover {
    display: flex;
    padding: 1rem 0rem;
    border-bottom-right-radius: 50%;
    visibility: hidden;
    background-color: var(--tertiaryColor);
    position: absolute;
}

.bookHover li {
    padding: 0rem 1rem;
}

.bookHover li:hover {
    background-color: white;
    color: black;
    border-top-right-radius: 50%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 50%;
    animation: anim 2s linear 0s infinite;
}

.bookHover li:active {
    background-color: black;
    color: white;
}

@keyframes anim {
    0% {border-top-right-radius: 50%;
        border-top-left-radius: 0%;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 50%;}
    50% {border-top-right-radius: 0%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 25%;}
    100% {border-top-right-radius: 50%;
        border-top-left-radius: 0%;
        border-bottom-right-radius: 25%;
        border-bottom-left-radius: 50%;}
}