@media screen and (max-width: 800px) {
    .bookMenuMobile {
        padding-left: 1rem;
    }
    .brothersMenuMobile {
        text-align: end;
        margin-left: 1.5rem;
    }
    .bookMenuMobile ul, .brothersMenuMobile ul {
        list-style: outside;
    }
    .greeting {
        font-size: 1.25rem;
        text-align: end;
    }
    .headerLinksMobCon {
        display: flex;
        justify-content: center;
        color: white;
    }
    .headerLinksMobile {
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 0%;
        right: 0%;
        height: 100%;
        background-color: var(--tertiaryColor);
        z-index: 10;
        display: flex;
        /* padding: 20px; */
        font-family: var(--main);
        text-align: center;
        /* border-bottom-right-radius: 50%; */
    }
}
@media screen and (max-width: 400px) {
    .greetingCon {
        margin-right: 0px;
    }
}

@media screen and (max-width: 330px) {
    .headerLinksMobile a {
        font-size: 1rem;
    }
}
