.loader {
  width: 68px;
  aspect-ratio: 1/1;
  border: 3px solid var(--main-font-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--main-font-color);
  width: 16px;
  aspect-ratio: 1/1;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .loader {
    width: 30px;
    border-width: 1px;
  }
  .loader::after {
    width: 10px;
  }
}

iframe {
  overflow-y: unset;
  filter: grayscale(1);
}
