:where(.css-dev-only-do-not-override-ni1kz0).ant-modal .ant-modal-content {
    background-color: var(--tertiaryColor);
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-modal .ant-modal-title {
    background-color: var(--tertiaryColor);
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-btn-primary.ant-btn-background-ghost {
    color: white;
    border-color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-form-item .ant-form-item-label >label {
    color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0)[class^="ant-modal"] [class^="ant-modal"] {
    color: white;
}

:where(.css-dev-only-do-not-override-ni1kz0).ant-form-item .ant-form-item-control-input-content {
    color: white;
}

/* deployed version */
:where(.css-1rqnfsa).ant-modal .ant-modal-content {
    background-color: var(--tertiaryColor);

}

:where(.css-1rqnfsa).ant-modal .ant-modal-title {
    background-color: var(--tertiaryColor);
}

:where(.css-1rqnfsa).ant-btn-primary.ant-btn-background-ghost {
    color: white;
    border-color: white;
}

:where(.css-1rqnfsa).ant-form-item .ant-form-item-label >label {
    color: white;
}

:where(.css-1rqnfsa)[class^="ant-modal"] [class^="ant-modal"] {
    color: white;
}

:where(.css-1rqnfsa).ant-form-item .ant-form-item-control-input-content {
    color: white;
}