
@media screen and (max-width: 815px) {
    .deleteButton {
        margin-top: 1.5rem;
    }

    .mainSingleCon {
        flex-direction: column;
        align-items: center;
    }
    .bookTitleCon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bookTitle {
        font-family: var(--main);
        font-size: 3.5rem;
        margin-top: 2rem;
        padding: 0px;
        text-align: center;
    }
    
    .bookCover {
        height: 275px;
        width: 350px;
    }

    /* for no image book cover  */
    .bookTitleCoverCon {
        width: 275px;
        height: 350px;
    }
    
    .float-right {
        font-size: 1rem;
        margin: 0px;
        margin-right: 10px;
        position: absolute;
        right: 0%;
    }
    
    .bookRightCon {
        padding: 1.5rem 2rem;
        width: 300px;
        margin: 0px;
        margin-bottom: 2rem;
    }

    .ratingAndCommentCon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }