.graph {
  height: 800px;
  width: clamp(500px, 100vw, 100%);
  margin-top: 1rem;
}

.lineGraph {
  height: 800px;
  width: 100%;
  margin-top: 1rem;
}

.pieCon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--main);
  overflow-y: visible;
}

.unreadTitle {
  font-size: 2rem;
  text-decoration: underline;
}

.pieCon .percentage {
  position: absolute;
  font-size: clamp(1.35rem, 2vw, 2.5rem);
}

@media screen and (max-width: 800px) {
  .graph {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .graph {
    width: 300px;
  }
  .pieCon {
    flex-direction: column;
  }
}
