.graph {
    width: 1000px;
    height: 550px;
    margin-top: 1rem;
}

@media screen and (max-width: 1100px) {
    .graph {
        width: 700px;
        height: 400px;
    }
}

@media screen and (max-width: 800px) {
    .graph {
        transform: rotate(90deg);
        width: 800px;
        height: 400px;
        margin: 10rem 0;
    }
}

@media screen and (max-width: 450px) {
.graph {
    width: 600px;
    height: 300px;
    margin: 10rem 0;
}
}