.filter-checkbox[type="checkbox"] {
  filter: hue-rotate(-120deg);
}

.filter-label {
  font-family: var(--main);
  margin-left: 0.25em;
}

.name-filter-grid {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.genre-filter-grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .genre-filter-grid,
  .name-filter-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    align-content: center;
    width: 100%;
    gap: 1rem;
  }
}
